run = "python app.py"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python app.py"]

[workflows]
runButton = "Python"

[[workflows.workflow]]
name = "Python"
author = 41049300
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"
